html, body {
    height:100%;
    overflow: hidden;

}
.container {
  display: flex;
  align-items: center;
  min-height:100%;
  width: 100%;

  background-color:gray;
}
.item {
  flex: auto;
  height:40em;
  width: 35em;
  padding: 1em;
  margin:0em;
  background-color: yellow;
}
